@import "tailwindcss";

#root, body, html {
  height: 100%;
  height: 100dvh;
  width: 100%;
  width: 100dvw;
  /* overflow: hidden; */
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* Add styles for input placeholders */
::placeholder {
  color: #666666;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #666666;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #666666;
}

/* Search input styles */
.search-input {
  @apply px-6 py-3 rounded-full border-2 border-gray-200 focus:border-cyan-400 focus:outline-none w-64 text-gray-900 placeholder-gray-400;
}

/* Custom scrollbar styles */
::-webkit-scrollbar {
  @apply w-2;
}

::-webkit-scrollbar-track {
  @apply bg-gray-100 rounded-full;
}

::-webkit-scrollbar-thumb {
  @apply bg-cyan-400 rounded-full hover:bg-cyan-500 transition-colors duration-200;
}


.mapboxgl-popup-content { border-radius: 15px !important; }
